
  .dashboard_container > div:nth-child(1) {
    width: 20%;
  }  
  
  .Userwelcome_tag {
    width: 52%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3%;
    margin: 0 2% 0 2%;
    background-color: #59b4cb;
    color: white;
  }
  