*{
}
.Weak{
    border-bottom: 6px solid red;
}
.Moderate{
    border-bottom: 6px solid darkgoldenrod;
}
.Strong{
    border-bottom: 6px solid greenyellow;
}


.container{
    display: flex;
    justify-content: space-between;
    margin: 0 0 32px;
  }
  
  
  .strength {
    width: 15%;
    display: flex;
    justify-content: start;
  }
  
  
  .Weak , .Moderate, .Strong{
    width: 81%;
    height: 0px;
    margin-top: 1.8%;
    border-radius: 25px;
  }

  
  .events {
    width: 100%;
  }


/* Element | http://localhost:3000/events */

#root > div:nth-child(1) {
  display: flex;
}
